*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ---HEADER--- */

/* Barra de Navegação - NavBar*/
header{
  background-color: #c7b7c7;
  padding-bottom: 1%;
}

#topo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item-topo {
  display: flex;
}

#logo {
  max-width: 5em;
  margin: 0 2px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

nav ul li a {
  font-family: sans-serif;
  color: #274072;
  font-size: 18px;
  padding: 7px 5px;
  border-radius: 3px;
}

/* Animação no NavBar ao passar mouse*/
a.active, a:hover {
  color: #fff;
}

.slide {
  width: 100%;
}

.filtragem {
  display: flex;
  justify-content: center;
}

@media (max-width:425px){
  .filtragem {
    flex-direction: column;
    align-items: center;
  }
}

.input, #filterType, #filterResistencia, #filterWeaknesses {
  height: 5vh;
  width: 17vw;
  font-size: 1em;
  padding: 0 0.5em;
  margin: 0.5em;
  border-radius: 10px;
  color: #274072;
  border: 3px solid
}

@media (max-width:425px){
  .input, #filterType, #filterResistencia, #filterWeaknesses {
    width: 70vw;
    height: 8vh;
  }
}

/* ---MAIN--- */

main {
  background-color: #f6f4e7;
  padding-top: 3%;
  padding-right: 7%;
  padding-bottom: 3%;
  padding-left: 7%;
}

.ordenado {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2%;
}

.ordenar, .AZ, .ZA {
  background-color: #c7b7c7;
}

/* CARDS */
#card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.divcard {
  border-radius: 15px;
  padding: 5px;
  size: 40px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 30px;
  height: 300px;
  width: 200px;
  text-align: center;
  transition: all 0.4s;
  border-style: solid;
  border-color: #274072;
}

.divcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.884);
}

p.texto-card {
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
  padding-top: 2px;
  text-transform: uppercase;
  border-bottom: solid 0.1em #274072;
  line-height: 1.2em;
  margin-top: 0.1em;
}


p.numero {
  color: #919191;
  font-size: 14px;
  text-align: left;
}

p.nome {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 150%;
}

.imagem {
  background-color: #c7b7c7;
  border-radius: 10px;

}

/* ---FOOTER--- */
.made {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  min-height: 120px;
  color: #274072;
  background-color: #c7b7c7;
  padding: 4%;
}

.made a:hover {
  text-decoration: underline;
  color: #081014;
}

.made a:link,
a:visited,
a:active {
  text-decoration: none;
}

.made a:hover {
  text-decoration: underline;
  color: #081014;
}

.made a:link,
a:visited,
a:active {
  text-decoration: none;
}

.icones-sociais ul {
  display: inline-block;
  align-items: flex-end;
  height: inherit;
  float: left;
  width: 75%;
  margin: 0;
  line-height: 60px;
}

.icones-sociais li {
  display: inline-block;
  margin-left: 5px;
  margin-top: 7px;
  width: 40px;
  height: inherit;
}

#youtube, #instagram, #twitter, #facebook{
  color: black;
  width: 20px;
  height: 30px;
}



.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
 }
 .embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }

